# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\QuecPython\demo_qpy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
